body{
    background-color: rgb(100, 214, 55);
}

h1{
    padding-left: 15em;
    background-color: aquamarine;
}

.row{
    padding-left: 25em;
}
.searchInput{
    padding-top: 1em;
}
.displayData{
    padding-top: 1em;
    
}